.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.initial {
  align-self: flex-start;
  height: 40px;
  padding: 10px 28px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.search {
  display: flex;
  /* border: 2px solid; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.search-bar {
  width: 700px;
  height: 50px;
  font-size: large;
  background-color: azure;
  border: 2px solid hsl(175, 90%, 49%);
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.search-button {
  width: 56px;
  height: 56px;
  border-radius: 10%;
  display: flex;
  overflow: hidden;
  border: #282c34;
  background-color: white;
}

.search-button:hover {
  background-color: aquamarine;
}
.search-logo {
  height: 100%;
  width: 100%;
}

.content {
  /* width: 80%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.video {
  border-radius: 5px;
}

.video:hover {
  border: 10px solid hsla(74, 66%, 49%, 0.867);

}

.actions {
  display: flex;
  gap: 10px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 150%;
  width: 120%;
}